:root {
    --accent: rgb(47, 129, 247);
    --accent-hover: rgb(73, 151, 255);
}

canvas {
    background: #eed;
    padding: 10px;
    border: 10px solid #ddc;
    cursor: pointer;
    width: 100%;
}
select {
    width: 100%;
}

